# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Appium
node_modules/
*.log

# Android
*.apk
local.properties
